[Unit]
Description=rails application
After=network.target

[Service]
Environment="GEM_HOME=/opt/gem"
PIDFile=/opt/app/todos-api/tmp/pids/puma.pid
User=railsapp
Type=forking
WorkingDirectory=/opt/app
ExecStart=/opt/app/bin/bundle exec puma -c config/puma.rb -E production -D
Restart=on-failure

[Install]
WantedBy=default.target
