[Unit]
Description=rails application
After=network.target

[Service]
Environment="GEM_HOME=/opt/gem"
PIDFile=/opt/app/tmp/pids/puma.pid
User=railsapp
Type=simple
WorkingDirectory=/opt/app
ExecStart=/opt/app/bin/bundle exec puma -e production
Restart=on-failure

[Install]
WantedBy=default.target
